{% extends "base.html" %}

{% block content %}
    <h1>{% block title %}Welcome my blog{% endblock %}</h1>
    {% for post in posts %}
        <h1>{{ docker_id['docker_id'] }}</h1>
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h5>{{ post['title'] }}</h5>
        </a>

        <span class="badge bg-danger">{{ post['created'] }}</span>

        <a href="{{ url_for('edit', post_id=post['id']) }}" class="#">
            <span class="badge bg-warning text-dark">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}